<head>
  <link href="https://fonts.googleapis.com/css2?family=Agbalumo&display=swap" rel="stylesheet">
</head>
<header>
  <!-- <img src="" />  Insert logo here instead of text if you prefer -->
  <a href="/">
    <h1 class="logo-name">BLOGIFY</h1>
  </a>
  <div class="nav-list" style="display: flex; align-items: center; justify-content: space-between;">
    <div class="nav-links" style="display: flex; gap: 20px;">
      <a href="/">Home</a>
      <a href="/posts">Blogs</a>
      <a href="/about">About</a>
      <a href="/contact">Contact Us</a>
      <% if (user && user.username) { %>
        <a href="/profile">Profile</a>
      <% } %>
    </div>
    <div style="display: flex; align-items: center; gap: 10px;">
      <% if (user && user.username) { %>
        <div class="username-login" style="margin-left: 10px;">Logged in as: <%= user.username %></div>
        <form action="/logout" method="post">
          <button type="submit">Logout</button>
        </form>
      <% } else { %>
        <a href="/login" style="margin-left: 10px;">Login</a>
      <% } %>
    </div>
  </div>
</header>