<header>
  <!-- <img src="" />  Insert logo here instead of text if you prefer -->
  <a href="/">
    <h1 class="logo-name">Alessandra</h1>
  </a>
  <div class="nav-list">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/posts">Blogs</a>
    <a href="/contact">Contact Us</a>
  </div>
</header>