<header>
  <!-- <img src="" />  Insert logo here instead of text if you prefer -->
  <a href="/">
    <h1 class="logo-name">BLOGIFY</h1>
  </a>
  <div class="nav-list">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/posts">Blogs</a>
    <a href="/profile">Profile</a>
    <a href="/contact">Contact Us</a>
  </div>
  <div class="user-info">
    <% if (user) { %>
      <p>Logged in as: <%= user.username %></p>
      <a href="/logout">Logout</a>
    <% } else { %>
      <a href="/login">Login</a>
    <% } %>
  </div>
</header>