<%- include ('./partials/header') %>

    <!-- <h2>About Us</h2> -->
    <div class="center-block">
        <h1>Alessandra Manalansan</h1>
        <img src="https://i1.sndcdn.com/artworks-000659712550-mcpel4-t500x500.jpg" class="about-img" alt="">

        <div class="content-block">
            <h2>Introduction</h2>
            <p>This is my second project with General Assembly!</p>

            <h2>Technologies Used</h2>
            <p>JavaScript, Node.js, Postgres, Express, EJS, CSS</p>

            <h2>Future Updates</h2>
            <p>Check out mt git repo at: https://github.com/alesmnlnsan/GA-Project2</p>
        </div>
    </div>