<%- include ('./partials/header') %>
    <div class="center-block">
        <h1>Alessandra Manalansan</h1>
        <br>
        <h2>♡ ♡∩_∩ 
            <br>
            ૮꒰ ˶• ༝ •˶꒱ა♡
            <br>
          |￣U  U￣￣￣￣￣￣￣￣￣|
          <br>
          | This was made with much 
          <br>| love and energy 
          <br>| drinks             
          <br>                  
          ￣￣￣￣￣￣￣￣￣￣￣￣</h2>
        <h2></h2>
        <div class="content-block">
            <h2>Introduction</h2>
            <p>This is my second project with General Assembly! I created a full-stack web application that allows users to create, read, update, and delete posts and comments.</p>

            <h2>Technologies Used</h2>
            <p>JavaScript, Node.js, Postgres, Express, EJS, CSS</p>

            <h2>Future Updates</h2>
            <p>Check out my git repo at: https://github.com/alesmnlnsan/GA-Project2</p>
            
        </div>
    </div>