<%- include ('./partials/header') %>
 

  <img src="https://i1.sndcdn.com/artworks-000659712550-mcpel4-t500x500.jpg" class="" />

  <p class="description">Welcome to Blogify! This app was created by Alessandra Manalansan as a second project for the General Assembly Software Engineering Immersive course. With Blogify, you can easily sign up, create and publish any blog post you desire. Additionally, you have access to an online to-do list to help you organize your plans for your blog or any other tasks you need to accomplish. </p>

  <button onclick="window.open('/signup','_self')" style="margin: auto; display: flex; justify-content: center;">Sign
    Up</button>
    <p>Already have an account? <a href="/login">Login here!</a></p>
  