<%- include ('./partials/header') %>
 

  <img src="https://i1.sndcdn.com/artworks-000659712550-mcpel4-t500x500.jpg" class="" />

  <p class="description">Welcome to Blogify! This app was created by Alessandra Manalansan as a second project for the General Assembly Software Engineering Immersive course. With Blogify, you can easily sign up, create and publish any blog post you desire. Additionally, you can have a sense of community with the comments section where you can leave reviews and communicate with your fellow bloggers. </p>

  <button onclick="window.open('/signup','_self')" style="margin: auto; display: flex; justify-content: center;">Sign
    Up</button>
    <p>Already have an account? <a href="/login">Login here!</a></p>