<%- include ('./partials/header') %>
  <!-- <h1>Home dashboard</h1> -->

  <img src="https://i1.sndcdn.com/artworks-000659712550-mcpel4-t500x500.jpg" class="hero-image" />

  <p class="description">Hey this is me!! Short website intro...</p>

  <button onclick="window.open('/signup','_self')" style="margin: auto; display: flex; justify-content: center;">Sign
    Up</button>
  