<%- include ('./partials/header') %>

  <h2 class="center-text">Register Now</h2>

  <form class="form" action="/signup" method="post">
    <div>
      <label for="email">Email</label>
      <input type="email" id="email" name="email">
    </div>
    <div>
      <label for="username">Username</label>
      <input type="text" id="username" name="username">
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" id="password" name="password">
    </div>
    <div>
      <label for="pronouns">Pronouns</label>
      <input type="text" id="pronouns" name="pronouns">
    </div>
    <div>
      <button type="submit" class="signUp">Sign Up</button>
    </div>
  </form>
  <p class="center-text">Already a member? <a href="/login">Login here</a></p>